<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
Data Analysis with Python</p><br>


This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. The datasets is provided regarding the performance in Mathematics (mat) and modeled under binary/five-level classification and regression tasks.

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Descriptive statistics</p>
<br>
*Descriptive statistics* are brief descriptive coefficients that summarize a given data set.

In [1]:
import pandas as pd
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
df = pd.read_excel('student data-mat.xlsx', sheetname='Data') 
# creat a new DataFrame 'df', and use 'ID-code' as index 
df.head(10) # print the first 10 rows of DataFrame

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [3]:
print (df['school'].value_counts()) # count the number of student from different schools
print ('minimum value:', df['G3'].min()) # minimum value in the column “G3”
print ('maximum value:',df['G3'].max()) # maximum value in the column “G3”
print ('standard value:',df['G3'].std()) # standard value of the column “G3”
print ('mean',df['G3'].mean()) # mean of the column “G3”

GP    349
MS     46
Name: school, dtype: int64
minimum value: 0
maximum value: 20
standard value: 4.5814426109978434
mean 10.415189873417722

In [4]:
df['G3'].describe()

count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64

In [5]:
df_cor = df.loc[:,['G1','G2','G3']]
pd.Series(stats.pearsonr(df_cor['G1'],df_cor['G3']),index=['Coef','p-value'])

Coef       8.014679e-01
p-value    9.001430e-90
dtype: float64

In [6]:
pd.Series(stats.pearsonr(df_cor['G2'],df_cor['G3']),index=['Coef','p-value'])

Coef        9.048680e-01
p-value    7.625719e-148
dtype: float64

In [11]:
df_gen = df.loc[:,['gender','G3']]

In [12]:

df_gen

    gender  G3
0        F   6
1        F   6
2        F  10
3        F  15
4        F  10
5        M  15
6        M  11
7        F   6
8        M  19
9        M  15
10       F   9
11       F  12
12       M  14
13       M  11
14       M  16
15       F  14
16       F  14
17       F  10
18       M   5
19       M  10
20       M  15
21       M  15
22       M  16
23       M  12
24       F   8
25       F   8
26       M  11
27       M  15
28       M  11
29       M  11
..     ...  ..
365      M  10
366      M  13
367      F   0
368      F  10
369      F  11
370      F   9
371      M  12
372      F  11
373      F   5
374      F  19
375      F  10
376      F  15
377      F  10
378      F  15
379      F  10
380      M  14
381      M   7
382      M  10
383      M   0
384      M   5
385      F  10
386      F   6
387      F   0
388      F   8
389      F   0
390      M   9
391      M  16
392      M   7
393      M  10
394      M   9

[395 rows x 2 columns]

In [13]:
df_gen0 = df_gen[df_gen['gender']=='F']['G3'].copy()
df_gen0.mean()

9.966346153846153

In [15]:
df_gen1 = df_gen[df_gen['gender']=='M']['G3'].copy()
df_gen1.mean()

10.914438502673796

In [16]:
pd.DataFrame([stats.ttest_ind(df_gen0,df_gen1).statistic,stats.ttest_ind(df_gen1,df_gen0).pvalue], index=['statistic','pvalue'],columns=['G3']).T

    statistic    pvalue
G3  -2.061993  0.039865

In [17]:
df_chi = df.loc[:,['studytime','goout']]

In [18]:
df_chi

     studytime  goout
0            2      4
1            2      3
2            2      2
3            3      2
4            2      2
5            2      2
6            2      4
7            2      4
8            2      2
9            2      1
10           2      3
11           3      2
12           1      3
13           2      3
14           3      2
15           1      4
16           3      3
17           2      2
18           1      5
19           1      3
20           2      1
21           1      2
22           2      1
23           2      4
24           3      2
25           1      2
26           1      2
27           1      4
28           2      3
29           2      5
..         ...    ...
365          2      4
366          3      2
367          1      1
368          1      3
369          2      2
370          2      2
371          1      3
372          3      3
373          1      5
374          3      4
375          3      2
376          3      3
377          2      3
378          2      3
379          2      4
380          2      4
381          1      3
382          2      3
383          1      2
384          1      3
385          3      3
386          1      3
387          3      2
388          2      4
389          2      1
390          2      4
391          1      5
392          1      3
393          1      1
394          1      3

[395 rows x 2 columns]

In [19]:
ct = pd.crosstab(df_chi['studytime'],df_chi['goout'])
ct

goout       1   2   3   4   5
studytime
1          10  26  29  19  21
2          11  46  62  55  24
3           1  22  29   9   4
4           1   9  10   3   4

In [20]:
chi2,p,dof,ex=chi2_contingency(ct)

In [21]:
pd.DataFrame([chi2,p,dof],index = ['chi2','pvalue','dof'],columns=['Chi squre result']).T

                       chi2    pvalue   dof
Chi squre result  24.828734  0.015656  12.0

In [22]:
df['G3'].value_counts(sort=False) # student distribution of final grade

0     38
4      1
5      7
6     15
7      9
8     32
9     28
10    56
11    47
12    31
13    31
14    27
15    33
16    16
17     6
18    12
19     5
20     1
Name: G3, dtype: int64

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Data Visualization</p>
<br>
*Data Visualization* plays an important role in data analysis, it provides interactive, visual representations of abstract data to amplify cognition and facilitate understanding.

In [ ]:
import matplotlib.pyplot as plt # use plt.function_name to call function
import numpy as np # numpy is a fundamental package used for scientific computing

In [ ]:
df1 = df[df['G3']>=15].copy() # create a new dataframe for group one students
df2 = df[df['G3']<15].copy() # create a new dataframe for group two students

In [ ]:
df1['G3'].value_counts(sort=False)

In [ ]:
df2['G3'].value_counts(sort=False)

In [ ]:
plt.scatter(df1['G1'],df1['G2'],c='r',alpha=0.4, label='Final Grade >=15')
plt.scatter(df2['G1'],df2['G2'],c='b',alpha=0.4, label='Final Grade <15')
plt.xlabel('First Period Grade')
plt.ylabel('Second Period Grade')
plt.legend()
plt.show()

In [ ]:
df1['studytime'].value_counts(sort=False)

In [ ]:
bin_labels = ['<2hours','2 to 5 hours','5 to 10 hours','>10 hours'] # Bins setting
data_bar1 = pd.cut(df1['studytime'], [0,1,2,3,4], labels=bin_labels).copy() # create a series and replace 'Total activity' with bin label
data_bar2 = pd.cut(df2['studytime'], [0,1,2,3,4], labels=bin_labels).copy() # same as above

In [ ]:
data_bar1.value_counts(sort=False) # check the distribution of group one

In [ ]:
data_bar2.value_counts(sort=False) # check the distribution of group two

In [ ]:
X=np.arange(4)+1 # 4 categories
plt.bar(X, height=data_bar1.value_counts(sort=False),width=0.35,color='r',label='Final Grade >=15')
plt.bar(X+0.35, height=data_bar2.value_counts(sort=False),width=0.35,color='b',label='Final Grade <15')
plt.xticks(X+0.17,bin_labels) # set labels of x axis
plt.xlabel('Study Time')
plt.ylabel('Number of student')
plt.legend()
plt.show()

In [ ]:
pie_labels = ['none','primary education (4th grade)','5th to 9th grade','secondary education', 'higher education']
fig1 = plt.figure(figsize=(30,30))
ax1_1 = fig1.add_subplot(1,2,1)
ax1_2 = fig1.add_subplot(1,2,2)
ax1_1.pie(df1['Medu'].value_counts(sort=False),labels=pie_labels,labeldistance=1.05,autopct='%1.1f%%',pctdistance=0.85,startangle=90)
ax1_1.axis('equal')
ax1_2.pie(df2['Medu'].value_counts(sort=False),labels=pie_labels,labeldistance=1.05,autopct='%1.1f%%',pctdistance=0.85,startangle=90)
ax1_2.axis('equal')

ax1_1.set_title('mother\'s education of group one student')
ax1_2.set_title('mother\'s education of group two student')
plt.rcParams['font.size']=25
plt.show()

In [ ]:
fig2 = plt.figure(figsize=(30,30))
ax2_1 = fig2.add_subplot(2,1,1)
ax2_2 = fig2.add_subplot(2,1,2)
ax2_1.pie(df1['Fedu'].value_counts(sort=False),labels=pie_labels,labeldistance=1.05,autopct='%1.1f%%',pctdistance=0.85,startangle=90)
ax2_1.axis('equal')
ax2_2.pie(df2['Fedu'].value_counts(sort=False),labels=pie_labels,labeldistance=1.05,autopct='%1.1f%%',pctdistance=0.85,startangle=90)
ax2_2.axis('equal')

ax2_1.set_title('father\'s education of group one student')
ax2_2.set_title('father\'s education of group two student')
plt.rcParams['font.size']=25
plt.show()

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Data analysis with machine learning</p>
<br>
*Machine learning* is a subfield of artificial intelligence that explores how machines can learn from data to analyze structures, help with decisions, and make predictions. In this section, we will try to predict the performance group of a student (group one or group two) with the attributes collected.

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
# import the libraries will be used

In [ ]:
df['group'] = pd.cut(df['G3'], [-1,14,20],labels=['Two','One'],right=True).copy() # create a series and replace 'Total activity' with bin label
df['group'] = df['group'].astype(str)
df.head(5)

In [ ]:
#features_c =['studytime','failures','schoolsup','famsup','paid','romantic','famrel','freetime','activities','goout','G1','G2']
X = df.loc[:,'school':'absences'].copy()
X.replace(['no','yes'],[0,1],inplace=True)
X.replace(['GP','MS'],[0,1],inplace=True)
X.replace(['F','M'],[0,1],inplace=True)
X.replace(['U','R'],[0,1],inplace=True)
X.replace(['LE3','GT3'],[0,1],inplace=True)
X.replace(['A','T'],[0,1],inplace=True)
X['Mjob'].replace(['other','at_home','services','health','teacher'],[1,2,3,4,5],inplace=True)
X['Fjob'].replace(['other','at_home','services','health','teacher'],[1,2,3,4,5],inplace=True)
X['reason'].replace(['home','reputation','course','other'],[1,2,3,4],inplace=True)
X['guardian'].replace(['mother','father','other'],[1,2,3],inplace=True)
#X = X.join(df.loc[:,'Medu':'Fedu'])
y = df['group'].copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=0)
y_train.value_counts()

In [ ]:
y_test.value_counts()

In [ ]:
clf = LinearSVC(random_state=0)
clf.fit(X_train, y_train)

In [ ]:
predictions = clf.predict(X_test)
predictions = pd.Series(predictions, index=y_test.index)
predictions

In [ ]:
predictions.value_counts()

In [ ]:
accuracy_score(y_true = y_test, y_pred = predictions)# Caculate the accuracy by accuracy_score function

In [ ]:
from sklearn.feature_selection import SelectFromModel

In [ ]:
coef = pd.DataFrame(clf.coef_,index=['coef'],columns=X.columns) # get weights assigned to the features of the linearSVC model
coef.T

In [ ]:
abs(coef).T.mean()

In [ ]:
abs(coef).T.sort_values('coef',ascending=False)

In [ ]:
clf_new = LinearSVC(random_state=0)
sfm = SelectFromModel(clf_new,threshold='median') # feature selector setting
sfm.fit(X_train, y_train)
X_transform = sfm.transform(X_train)

In [ ]:
selected_result =pd.Series(sfm.get_support(), index=X_train.columns)

In [ ]:
selected_result

In [ ]:
selected_result[selected_result==True] # Keep the feature name with True value only

In [ ]:
selected_features = selected_result[selected_result==True].index
selected_features

In [ ]:
clf_new.fit(X_transform, y_train) # train a new classifier with transformed training data set

In [ ]:
predictions_new = clf_new.predict(X_test[selected_features])
predictions_new = pd.Series(predictions_new, index=y_test.index)
predictions_new

In [ ]:
accuracy_score(y_true = y_test, y_pred = predictions_new)

In [ ]:
from sklearn.cluster import KMeans
from sklearn.cluster import AffinityPropagation # import the algorithms will be used

In [ ]:
features_c =['studytime','failures','schoolsup','famsup','paid','romantic','famrel','freetime','activities','goout','absences','G1','G2']
X_c = df[features_c].copy()
X_c.replace(['no','yes'],[0,1],inplace=True)

In [ ]:
X_c.head() # check the inputs

In [ ]:
km = KMeans(n_clusters=8,algorithm="full",random_state=0).fit(X_c)
af = AffinityPropagation().fit(X_c) # clustering

In [ ]:
df['kmlabel']=km.labels_
df['aflabel']=af.labels_
df.head() # store the labels acquired from clustering and check

In [ ]:
df['G3'].groupby(df['kmlabel']).mean() # calculate the means of K-means clusters

In [ ]:
km_centers=pd.DataFrame(km.cluster_centers_,columns=X_c.columns)
km_centers.round(2)

In [ ]:
df['group'].groupby(df['kmlabel']).value_counts(sort=False) # find out how many group one and group two students in each cluster

In [ ]:
mean_c = df['column name of G3'].groupby(df['column name of af label']).mean()
mean_c.round(2) # please fill the column name above to show the mean of each af clusters

In [ ]:
pd.DataFrame(af.cluster_centers_,columns=X_c.columns) # show the exemplars

In [ ]:
af.cluster_centers_indices_ # show the index of the exemplars

In [ ]:
df['column name of af label'].value_counts(sort=False)

In [ ]:
df['column name of af group'].groupby(df['column name of af label']).value_counts(sort=False)