<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
Pandas</p><br>

*pandas* is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

*pandas* build upon *numpy* and *scipy* providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes
* Working with timestamps and time-series data

Let's get started with our first *pandas* notebook!

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>

Import Libraries
</p>

In [3]:
import pandas as pd

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Introduction to pandas Data Structures</p>
<br>
*pandas* has two main data structures it uses, namely, *Series* and *DataFrames*. 

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
pandas Series</p>

*pandas Series* one-dimensional labeled array.

In [4]:
ser = pd.Series([90, 80, 70, 60, 'failed'], ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [5]:
ser

tom          90
bob          80
nancy        70
dan          60
eric     failed
dtype: object

In [6]:
ser.index # display all indices

Index([u'tom', u'bob', u'nancy', u'dan', u'eric'], dtype='object')

In [7]:
ser['nancy'] # access data with one index

70

In [8]:
ser.loc[['nancy','bob']] # access data with indices

nancy    70
bob      80
dtype: object

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
pandas DataFrame</p>

*pandas DataFrame* is a 2-dimensional labeled data structure.

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Create DataFrame from dictionary of Python Series</p>

In [9]:
d = {'year' : pd.Series(['One', 'Two', 'One'], index=['tom', 'bob', 'nancy']),
     'grade' : pd.Series([90, 80, 70], index=['tom', 'bob', 'nancy'])}

In [10]:
df = pd.DataFrame(d)
df

       grade year
tom       90  One
bob       80  Two
nancy     70  One

In [11]:
df.index

Index([u'tom', u'bob', u'nancy'], dtype='object')

In [12]:
df.columns

Index([u'grade', u'year'], dtype='object')

In [13]:
df['grade'] > 70

tom       True
bob       True
nancy    False
Name: grade, dtype: bool

In [14]:
df.loc['bob':'nancy',:]

       grade year
bob       80  Two
nancy     70  One